<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<nav>
  <li>
      <a routerLink="/addProject" routerLinkActive="active">Add Project</a>
  </li>
  <li>
      <a routerLink="/addtask" routerLinkActive="active">Add Task</a>
  </li>
  <li>
    <a routerLink="/addUser" routerLinkActive="active">Add User</a>
  </li>
  <li>
    <a routerLink="/viewtask" routerLinkActive="active">View Task</a>
  </li>
</nav>
<router-outlet></router-outlet>